/bin/
./arrayvisitors/src/BUILD/
/.vs/

.project
.classpath
input1.txt
output1.txt
output2.txt
input2.txt

./project
./classpath
*/bin/
*/input1.txt
*/output.txt
*/output1.txt
*/output2.txt
*/input2.txt


**/bin/
**/input1.txt
**/output.txt
**/output1.txt
**/output2.txt
**/input2.txt